{% extends 'base.html' %}
{% block content %}
            <a href="portfolio">Portfolio</a>
        <p></p>
            <a href="buy">Buy</a>



        <p></p>
            <a href="sell">Sell</a>
        <p></p>

                <form action="/lookup" method="POST">Look Up Company's Symbol:<br>
                      <input type="text" name="name">
                      <input type="submit" value="Look Up">
                </form>
        <p></p>
                <form action="/getstockprice" method="POST">Get Symbol Price:<br>
                      <input type="text" name="name">
                      <input type="submit" value="Get Price">
                </form>


{% endblock %}