{% extends 'base.html' %}
{% block content %}
        <p></p>
            <form action="/buy" method="POST">
                      Buy - Symbol <input type="text" name="symbol">
                      Quantity <input type="text" name="quantity">
                      <input type="submit" value="Buy">
            </form>
        <p></p>
            <form action="/sell" method="POST">
                      Sell - Symbol <input type="text" name="symbol">
                      Quantity <input type="text" name="quantity">
                      <input type="submit" value="Sell">
            </form>
        <p></p>

                <form action="/lookup" method="POST">Look Up Company's Symbol:
                      <input type="text" name="name">
                      <input type="submit" value="Look Up">
                </form>
        <p></p>
                <form action="/getstockprice" method="POST">Get Symbol Price:
                      <input type="text" name="symbol">
                      <input type="submit" value="Get Price">
                </form>

{% endblock %}